@model IEnumerable<Albamon.Models.Moneda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="ConvertirMonedas">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadVenta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MonedaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MonedaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MonedaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
