@model Albamon.Models.PurchaseViewModels.PurchaseCreateViewModel

@{
    ViewData["Title"] = "Create";
}




<h2>Create</h2>


<form asp-action="Create" method="post">

    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-2 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Nombre)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.Nombre)
                </div>
            </div>
            <div class="row">
                <div class="col-2 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Apellidos)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.Apellidos)
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Fee" class="col-md-2 control-label font-weight-bold"></label>
                <span class="col-md-8">
                    <input asp-for="Fee" class="form-control" height="20" />
                    <span asp-validation-for="Fee" class="text-danger"></span>
                </span>
            </div>
        </div>

        <input asp-for="UsuarioId" type="hidden" class="form-control" />


        <div id="ModelErrors" asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <span class="col-md-10">
            <span asp-validation-for="PurchaseNFTs" class="text-danger"></span>
        </span>
        <table class="table">

            <thead>
                <tr>
                    <th width="50%">
                        Name
                    </th>
                    <th width="20%">
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.PurchaseNFTs.Count() == 0)
                {
                    <tr><td colspan="3">There are no nfts available</td></tr>
                }
                else
                {
                    @for (int i = 0; i < Model.PurchaseNFTs.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.PurchaseNFTs[i].Name)
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.DisplayFor(modelItem => Model.PurchaseNFTs[i].Price)

                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input asp-for="PurchaseNFTs[i].NftId" type="hidden" class="form-control" />
                                    <input asp-for="PurchaseNFTs[i].Quantity" id="Movie_Quantity_@Model.PurchaseNFTs[i].NftId" class="form-control" />
                                    <span asp-validation-for="PurchaseNFTs[i].Quantity" class="text-danger" />

                                </div>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="CreateButton" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


